.templates-container {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.template-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 124px;
  width: 124px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: 0.875rem;
  transition: 0.3s;
  cursor: pointer;
  padding: 7px;

  svg {
    color: rgb(87, 155, 252);
  }
  
  &:hover {
    border-color: rgb(87, 155, 252);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(87, 155, 252, 0.2);
  }
}
